.glossymenu{
list-style-type: none;
margin-top: 0px;
padding: 0;
width: 170px;
border: 1px solid #9A9A9A;
border-bottom-width: 0;
}

a.l1{
position:absolute;top:0px;left:9px;width:160px;
}
a.l2{
position:absolute;top:30px;left:9px;width:500px;
}
a.l3{
position:absolute;top:60px;left:9px;width:500px;
}
a.l4{
position:absolute;top:90px;left:9px;width:500px;
}
a.l5{
position:absolute;top:120px;left:9px;width:500px;
}
a.l6{
position:absolute;top:150px;left:9px;width:500px;
}
a.l7{
position:absolute;top:180px;left:9px;width:500px;
}
.glossymenu li a{
background: white url(glossyback.gif) repeat-x bottom left;
font: bold 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
color: white;
display: block;
width: auto;
padding: 3px 0;
padding-left: 10px;
text-decoration: none;

}

* html .glossymenu li a{ /*IE only. Actual menu width minus left padding of A element (10px) */
width: 160px;
}

.glossymenu li a:visited, .glossymenu li a:active{
color: white;
}

.glossymenu li a:hover{
background-image: url(glossyback2.gif);
}