/* CSS Document */

body{ 
	/*font-family:"Times New Roman", Times, serif;*/
	/*font-family:Tahoma, Geneva, sans-serif;*/
	font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size:14px; 
	padding:25px;
}
input[type="button"].btn_add{
	margin-left: 5px;
	margin-right: 5px;
	width: 65px;
	height: 30px;
	background-image: url(../img/menu/iconPos/add.png);
	background-position: left center;
	background-repeat: no-repeat;
	font-size: 16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0.5px solid #0099CC;
	text-align: right;
	cursor: pointer;
	float: none;
	clear: both;
}
input[type="button"].btn_add:hover{
	background-image:url(../img/menu/iconPos/add.png);
	filter:alpha(opacity=50);
	opacity:0.8;
}

 

/* input textbox*/
input[type="text"]:hover{
	background-color:#CDDFFE;
}

/*Design Data in table */
table.tb_showdata, table.tb_showdata td{
	color: #000; 
	border:1px solid #FFFFFF;

}
table.tb_showdata tr:nth-child(even)
{
	background: #D1EBF1;
	text-align:center;
}
table.tb_showdata  tr:nth-child(odd)
{
	background: #C8D6E6;
	text-align:center;
}
table.maintable{
	border:2px solid #CCCCCC;
}

input[type="button"]{
	cursor: pointer;
}
input[type="button"]#search{
	width:75px;
	height:40px;
	font-size:16px;
	
}
input[type="button"]#clear{
	width:100px;
	height:40px;
	font-size:16px;	
}

/*input[type="button"]:hover{
	background-position:  -10px;
}*/

/*  End Index.html*/
